.React-HFN-FileInput
  .validation-error
    // outline: 1px red solid
    color: red
    padding: 5px
    height: 14px
    line-height: 14px
    font-size: 8px
    font-family: monospace, sans-serif
    // visibility: hidden
