.ReactHFN_FirebasePhotoInput
  display: flex
  outline: 1px slateBlue solid
  padding: 2px
  .CurrentPhotoAndFileInput
    outline: 1px green solid
    padding: 2px
    .CurrentPhoto
      outline: 1px midnightBlue solid
      padding: 2px
    .FileInput
      outline: 1px orange solid
      padding: 2px
  .RFHN-Croppie
    display: flex
    outline: 1px blue solid
    justify-content: space-around
    width: 100%
    .Croppie
      outline: 1px orangered double
      padding: 2px
    .PreviewAndUpload
      outline: 1px green solid
      padding: 2px
      .UploadButton
        display: block
        outline: 1px blue solid
        button
          width: 100%
          font-size: 20px
          padding: 20px
